#prompt {
  position: fixed;
  top: 70px;
  left: 20%;
  width: 200px;
  background-color: black;
  color: white;
}

img{
  width: 200px;
}

#prompt input{
  width: 45px;
}

#prompt button {
  color: black;
}

#formOne {
  margin: 40px;
}

div.rides p {
  margin: 0;
}

.scary-60, .scary-58, .scary-56, .kid-48 {
  display: none;
}